.list-card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8) !important;
}

.list-card .ui.card .list-card__image {
    height: 150px;
    border-bottom-left-radius: 0.28571429rem !important;
    border-bottom-right-radius: 0.28571429rem !important;
}

.content-top-push {
    padding-top: 57px;
}

.home-container {
    padding-top: 1rem !important;
}