<template name="home">
  <div class="ui container middle aligned grid home-container" style="height: 100%; margin-left: 0em !important; margin-right: 0em !important;">
    <div class="ui large {{#if isLoadingInitialContent }} active {{/if}} centered indeterminate inline text loader">
      loading content...
    </div>
    {{#each list in lists }} {{> listCard list=list}} {{/each}}
    <div class="ui large {{#if isLoadingMoreContent }} active {{/if}} centered indeterminate inline text loader">
      loading more...
    </div>
  </div>
</template>