<template name="listDetails">
  <div class="ui container" style="margin-left: 0em !important; margin-right: 0em !important;">
    <div class="player">
      {{{post.content.rendered}}}
    </div>
  </div>
</template>