<template name="listCard">
  <div class="sixteen wide column list-card">
    <a href="{{ pathFor 'listDetails' postId=list.data.id}}" class="ui fluid card">
      <img src="{{ listImage }}" class="list-card__image">
      <div class="content list-card__title">
        <h4 class="ui purple header">{{{ list.data.title.rendered }}}</h4>
      </div>
    </a>
  </div>
</template>