<template name="nav">
	<div class="ui fixed inverted violet menu top-menu">
		<div class="ui container">
			<div class="ui item hamburger">
				<a href="#">
					<i class="bars icon"></i>
				</a>
			</div>
			<div class="right menu">
				<div class="ui item">
					<h1 class="ui white header">LISTAT</h1>
				</div>
			</div>
			<!-- <div class="ui item search-bar" style="flex-grow: 1;">
					<div class="ui small fluid icon input">
					  <input type="text" placeholder="Search a very wide input...">
					  <i class="search icon"></i>
				</div>
				</div> -->
		</div>
	</div>
</template>