<template name="mainLayout">
	<div class="ui left sidebar vertical menu">
		<h4 class="content-top-push">Coming soon... filter for categories, artists, mode, and more.</h4>
		<!--<a class="item">
      Home
    </a>
		<a class="item">
      Categories
    </a>
		<a class="item">
      Top 10
    </a>
		<a class="item">
      Categories
    </a>
		<a class="item">
      Artists
    </a>-->
	</div>
	<div class="pusher">
		{{> Template.dynamic template=nav}}
		<div class="content-top-push">
			{{> Template.dynamic template=content}}
		</div>
		{{> Template.dynamic template=footer}}
	</div>
</template>